@font-face {
    font-family: 'Mx437';
    src: url('/fonts/Mx437_Acer710_Mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.head{

    margin-top: 4rem;
}

.experience{

    margin-top: 5rem;

}

.projects{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 750px) {

    .projects{

        flex-direction: column;
    }
    
}